* {
	margin: 0;
	padding: 0;
}

body {
	background: #ddd;
}

#wrapper {
	width: 960px;
	height: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -480px;
}

#main {
	width: 960px;
	height: 480px;
	background: #fff;
	border: 1px solid #bbb;
}

#right {
	float: right;
	width: 299px;
	height: 480px;
	background: #ccc;
	border-left: 1px solid #bbb;
}

#left {
	width: 660px;
	height: 480px;
}

.coin {
	width: 60px;
	height: 60px;

	line-height: 60px;
	text-align: center;

	font-family: "Franklin Gothic";
	font-size: 35px;
	color: #ccc;

	border-radius: 60px;

	background: -webkit-radial-gradient(center, ellipse cover, #7c7c7c 0%,#8f8f8f 100%); /* Chrome10+,Safari5.1+ */

	border: 6px solid #7c7c7c;
}

.coin[data-value="3"] {
	width: 50px;
	height: 50px;

	font-size: 27px;
	line-height: 50px;

	background: -webkit-radial-gradient(center, ellipse cover, #7e543a 0%,#936243 100%); /* Chrome10+,Safari5.1+ */

	border-color: #7e543a;
}

.coin:before {
	content: attr(data-value) "\a2";
}

.stamp {
	width: 80px;
	height: 80px;

	background: #070;
}

#dish {
	width: 200px;
	height: 200px;
	border-radius: 300px;
	background: #e3db66;
	border: 40px solid #b8a42d;
}

.stack {
	width: 100px;
	height: 100px;
}

.stack#five {
	position: absolute;
	bottom: 0;
	left: 0;
}

.stack#two {
	position: absolute;
	bottom: 0;
	left: 100px;
}