* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;

	font-family: 'PT Sans Caption', sans-serif;

	-webkit-user-select: none;
}

#wrapper {	
	width: 960px;
	height: 530px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -260px 0 0 -480px;

	text-align: center;
}

#modal-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
}

#main {
	-webkit-box-sizing: border-box;

	width: 100%;
	height: 530px;
	background: #fff;
	border: 15px solid #fff;
}

video {
	margin: 0 auto;

	border: 15px solid #fff;
}

.hidden {
	display: none;
	opacity: 0;
}

#top {
	position: relative;

	width: 100%;
	height: 340px;

	background: #06651c;

	-webkit-box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2) inset;
}

#bottom {
	position: relative;

	width: 100%;
	margin-top: 39px;
	height: 119px; /* 120 - 1 */

	background: #4d2f04;
	border-top: 1px solid #352104;
}

#bottom > .titlebar {
	height: 40px;
	width: 100%;
	margin-top: -40px;
	background: #342003;
	-webkit-box-shadow:
		inset 0 -1px 0 rgba(0, 0, 0, 0.2),
		inset 0 1px 0 rgba(0, 0, 0, 0.2);

	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	text-align: center;
	color: #fff;
}

#dish {
	position: absolute;
	top: 20px;
	left: -webkit-calc(((940px - 300px) / 2));

	width: 300px;
	height: 300px;

	border-radius: 300px;

	background: #044d15;

	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) inset;
}

.ui-draggable {
	cursor: -webkit-grab;
}

.ui-draggable:active {
	cursor: -webkit-grabbing;
}

.ui-draggable-disabled {
	cursor: default;
}

.ui-draggable-disabled:active {
	cursor: default;
}

.coin {
	width: 60px;
	height: 60px;

	line-height: 60px;
	text-align: center;

	font-family: "Franklin Gothic";
	font-size: 35px;
	color: #ccc;

	border-radius: 60px;

	background: -webkit-radial-gradient(center, ellipse cover, #7c7c7c 0%,#8f8f8f 100%); /* Chrome10+,Safari5.1+ */

	border: 6px solid #7c7c7c;

	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.coin[data-value="3"] {
	width: 50px;
	height: 50px;

	font-size: 27px;
	line-height: 50px;

	background: -webkit-radial-gradient(center, ellipse cover, #7e543a 0%,#936243 100%); /* Chrome10+,Safari5.1+ */

	border-color: #7e543a;
}

.coin:before {
	content: attr(data-value) "\a2";
}

#stamp-container {
	width: 80px;
	height: 90px;
}

.stamp {
	-webkit-box-sizing: border-box;

	width: 80px;
	height: 90px;

	border: 3px dashed #DDD;
}

.stamp > div {
	width: 100%;
	height: 100%;

	background: #DDD;

	font-family: "Helvetica", sans-serif;
	color: #fff;
}

.stamp > div > div {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;

	background: #f46f6a;
}

.stamp > div > div > span {
	position: absolute;
	bottom: 5px;
	left: 6px;

	font-size: 20px;
	line-height: 20px;
}

.stamp #cent {
	position: absolute;
	top: -10px;
	left: 15px;

	font-size: 65px;
	line-height: 90px;

	text-align: center;

	color: rgba(0, 0, 0, 0.1);

	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.stamp #cent:before {
	content: attr(data-value) "\00B6";
}

.stack {
	width: 100px;
	height: 117px;
}

.stack#a {
	position: absolute;
	bottom: 0;
	left: 0;
}

.stack#b {
	position: absolute;
	bottom: 0;
	left: 100px;
}

.ui-dialog {
	background: #fff;
	border: 1px solid #bbb;

	border-radius: 4px;

	padding: 20px 20px 73px 20px;

	-webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.ui-dialog-content {
	min-height: inherit !important;
	text-align: center;
	font-size: 16px;
}

.ui-dialog-titlebar {
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.ui-dialog-title {
	font-weight: bold;
	font-size: 24px;
}

.ui-dialog-titlebar-close {
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 100px;
	margin-left: -50px;
	-webkit-box-sizing: border-box;

	text-align: center;
}

.ui-dialog-titlebar-close {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:8px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.ui-dialog-titlebar-close:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.ui-dialog-titlebar-close:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
